<h3><a href="#/shovelboard">Shovel</a></h3>

<h1>Dashboard</h1>

<form>
  <h2>New Job</h2>
  <input placeholder="Address" ng-model="job.address"/>
  <input placeholder="Zipcode" ng-model="job.zipcode"/>
  <select ng-model="job.type">
    <option value="house" ng-selected="true">
      House
    </option>
    <option value="lot">
      Parking Lot
    </option>
    <option value="street">
      Street
    </option>
  </select>
  <button ng-click="jobSubmit()">Submit</button>
</form>

<h2>My Jobs</h2>
<div ng-repeat="job in jobs">
  <div>
    <p>{{job.address + " " + job.zipcode}}</p>
    <!-- <p>{{job.zipcode}}</p> -->
    <p>{{job.type}}</p>
    <p ng-show="job.shoveler_id">Someone's On Their Way!</p>
  </div>
  <form ng-show="editFormBoolean">
    <input ng-model='job.address'/>
    <select ng-model="job.type">
      <option value="house" ng-selected="">
        House
      </option>
      <option value="lot">
        Parking Lot
      </option>
      <option value="street">
        Street
      </option>
    </select>
    <input ng-model="job.zipcode"/>
    <button ng-click="updateJob(job)">Save</button>
    <button ng-click="deleteJob(job)">Delete</button>
  </form>

  <button ng-click="toggleEdit()">Edit Job</button>
</div>

<div ng-repeat="job in jobsToBePaid">
  {{job.address}}
  <p>{{job.type}}</p>
</div>

<form action="http://" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_ARP6jqMCyavHoZPG7PlmNkYd"
    data-amount="2000"
    data-name="Demo Site"
    data-description="1 Shovel ($10.00)"
    data-image="/128x128.png"
    data-locale="auto">
  </script>
</form>
