<h3><a href="#/dashboard">Dashboard</a></h3>

<h1>Shovelboard</h1>
<h2>New Jobs</h2>
<label>Filter By:<select ng-model="type.filter">
  <option value="house" >
    House
  </option>
  <option value="lot">
    Parking Lot
  </option>
  <option value="street">
    Street
  </option>
</select></label>
<div ng-repeat="job in newJobs | filter:type.filter">
  {{job.address}}
  {{job.type}}
  {{job.time}}
  <button ng-click="acceptJob(job)">Accept Job</button>
</div>

<h2>Accepted Jobs</h2>
<div ng-repeat="job in acceptedJobs">
  {{job.address}}
  {{job.type}}
  <button ng-click="completeJob(job)">Complete</button>
  <button ng-click="unacceptJob(job)">Unaccept</button>
</div>
