/* Body Styling */

@import url(https://fonts.googleapis.com/css?family=Titillium+Web);

body, html {
  font-family: "Titillium Web";
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-align: center;

}



/* Header Styling */

header {
  height: 0px;
  margin: 0px;
  padding: 0px;
}
header > h3 {
  display: inline-block;
  margin: 20px 25px;
  color: white;
}



/* Main Content/ CTA */

.main-content > h1, .main-content > h2 {
  margin: 0px;
  text-shadow: 1px 2px black;
}

h1 {
  font-size: 3em;
  padding-top: 80px;
  margin-bottom: 0px;
}

.main-content {
  width: 100vw;
  height: 75vh;
  background-color: tomato;
  background: url(assets/dark-mountain.jpg) no-repeat center/100%;
  background-size: cover;
  text-align: center;
  color: whitesmoke;
}

form {
  position: absolute;
  bottom: 200px;
  display: inline-block;
  left: 450px;
}

button, input {
  margin: 0;
}

input {
font-size: 1em

}

button {
  padding: 5px 30px;
  background-color: tomato;
  color: white;
  font-size: 1em;
  border-radius: 4px;
  transition-duration: .4s;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover{
  background-color: pink;
}



/* Link Styling */

a:visited, a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: lightblue;
}



/* Secondary Content Styling */

.triple-content{
  display: flex;
}

.triple-content div:nth-child(odd){
    background-color: lightblue;
}

.mini-content {
  width: 30%;
  margin: 3%;
  padding: 15px;
  flex: 0 1 auto;
  border-radius: 8px;
}

.why-div {
  width: 55%;
  margin: auto;
  /*background-color: lightblue;*/
}
